<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>96EDF405-80F4-40EE-A587-222F42D2FE2C</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>96EDF405-80F4-40EE-A587-222F42D2FE2C</key>
			<dict>
				<key>items</key>
				<array>
					<string>C66207E2-2263-4BE1-A7B1-36F1327DFC2D</string>
					<string>------------------------------------</string>
					<string>CE4F6346-E63F-4075-9059-843E23C63A3E</string>
				</array>
				<key>name</key>
				<string>Documents</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Mongoid</string>
	<key>uuid</key>
	<string>0384f4e0-2d7a-11e0-91fa-0800200c9a66</string>
</dict>
</plist>
