<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>changed</key>
	<dict>
		<key>mainMenu.excludedItems</key>
		<array>
			<string>9F6ABBA6-C780-4824-8FCA-D87E00E78B2A</string>
			<string>3206D7F2-66DD-42D1-965C-0E30B3DED5D6</string>
			<string>66D91DE2-49EB-443A-A731-95164694C0A9</string>
			<string>64695CAF-E89A-4C3F-BFD1-BEB52BC0E8C4</string>
			<string>85B0BEB3-6C12-4F9E-852D-10BD5948427C</string>
			<string>7B9CF410-B340-4DD4-A158-E693806CEB56</string>
			<string>892AB0BE-0963-4B50-B341-2B9E1BC7A6CB</string>
		</array>
		<key>mainMenu.items</key>
		<array>
			<string>157D593E-FEC1-4C63-AADC-F4CD1CEB223B</string>
		</array>
		<key>mainMenu.submenus.157D593E-FEC1-4C63-AADC-F4CD1CEB223B</key>
		<dict>
			<key>items</key>
			<array>
				<string>C66207E2-2263-4BE1-A7B1-36F1327DFC2D</string>
				<string>------------------------------------</string>
				<string>CE4F6346-E63F-4075-9059-843E23C63A3E</string>
			</array>
			<key>name</key>
			<string>Documents</string>
		</dict>
		<key>mainMenu.submenus.3206D7F2-66DD-42D1-965C-0E30B3DED5D6.items</key>
		<array/>
		<key>mainMenu.submenus.64695CAF-E89A-4C3F-BFD1-BEB52BC0E8C4.items</key>
		<array>
			<string>------------------------------------</string>
			<string>------------------------------------</string>
			<string>------------------------------------</string>
			<string>------------------------------------</string>
		</array>
		<key>mainMenu.submenus.66D91DE2-49EB-443A-A731-95164694C0A9.items</key>
		<array/>
		<key>mainMenu.submenus.7B9CF410-B340-4DD4-A158-E693806CEB56.items</key>
		<array/>
		<key>mainMenu.submenus.85B0BEB3-6C12-4F9E-852D-10BD5948427C.items</key>
		<array>
			<string>------------------------------------</string>
		</array>
		<key>mainMenu.submenus.892AB0BE-0963-4B50-B341-2B9E1BC7A6CB.items</key>
		<array/>
		<key>mainMenu.submenus.9F6ABBA6-C780-4824-8FCA-D87E00E78B2A.items</key>
		<array/>
		<key>ordering</key>
		<array>
			<string>7ED2CAAB-8CE7-4A09-9E66-1D622C60029B</string>
			<string>C66207E2-2263-4BE1-A7B1-36F1327DFC2D</string>
			<string>CE4F6346-E63F-4075-9059-843E23C63A3E</string>
		</array>
	</dict>
	<key>deleted</key>
	<array>
		<string>mainMenu.submenus.3556C080-5AA4-442F-A75C-65B63585ACB2</string>
		<string>mainMenu.submenus.3828AEAE-1702-4DED-9C14-5B6386E9F8CD</string>
		<string>mainMenu.submenus.90DAB123-FBEB-4355-91E6-47A069B3E071</string>
		<string>mainMenu.submenus.62202304-C141-4DE7-A75C-B9BA630BA2AF</string>
		<string>mainMenu.submenus.D8EAA0DE-71A2-4042-8961-9E6F883C50C9</string>
	</array>
	<key>isDelta</key>
	<true/>
	<key>uuid</key>
	<string>8EDBE2CA-575A-42BC-9F36-BD4C99B4DE56</string>
</dict>
</plist>
